.hero{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
    padding: 0 10vw ;
    background-color: #F2F4F6;
}
.hero h1{
    margin: 0px;
    padding: 0px;
    color: #F2F4F6 ;
    font-size: 50px;
    font-weight: bolder;
    margin: 20px;
    text-decoration: solid;
    color: #EF476F; /* Couleur du texte */
    background-color: #F2F4F6;  
}
.herocontenairecontenaire{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

}
.herocontenaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #000000;
    box-shadow: 5px 5px 0 #000000;
    background-color: #3E64FF;
    border-radius: 50px;
    padding: 50px;
    z-index: 2; 
    height: 100%;
    width: 100%;
}

.shadow{
  position: absolute;
  z-index: 1;
  bottom: -50px;
  right: -50px;
  background-color: #EF476F;
  border-radius: 50px;

  border: 5px solid #000000;
  height: 100%;
  width: 100%;
}

.heroTexte{
    text-align: center;
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    /* background-color: #4076ff; */
}

.heroTexte p {
    font-size: 26px;
    color: #F2F4F6;
  }




.btn-resultat{
    /* background-color: #02cc8f; */
    background-color: #ffffff;
    box-shadow: 5px 5px 0 #000000;
    border: none;
    margin: 10px;
    padding: 10px 25px;
    color: #000000;
    font-family: sans-serif;
    border: #000000 3px solid;
    border-radius: 15px; 
    cursor: pointer;
    font-family: 'Bricolage Grotesque', sans-serif !important;  
    /* width: 150px; */
    height: 50px;
    font-size: 24px;
    text-align: center;
}

  
  .btn-resultat:active {
    box-shadow: none !important;
    transform: translate(5px, 5px) !important;
  }


.btn-rejouer{
  /* background-color: #02cc8f; */
  background-color: #ffffff;
  box-shadow: 5px 5px 0 #4076ff;
  border: none;
  margin: 10px;
  padding: 10px 25px;
  color: #4076ff;
  font-family: sans-serif;
  border: #4076ff 3px solid;
  border-radius: 15px; 
  cursor: pointer;
  font-family: 'Bricolage Grotesque', sans-serif !important;  
  /* width: 150px; */
  height: 50px;
  font-size: 24px;
  text-align: center;
}

  
.btn-rejouer:active {
  box-shadow: none !important;
  transform: translate(5px, 5px) !important;
}

