.hero{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    padding: 0 10vw ;
    background-color: #F2D83D;
}
.hero h1{
    margin: 0;
    padding: 0;
    color: #F2D83D;
    font-size: 50px;
    font-weight: bolder;
    margin: 20px;

}
.herocontenaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #000000;
    box-shadow: 5px 5px 0 #000000;
    background-color: #6455F2;
    border-radius: 50px;
    padding: 50px;

}
.heroTexte{
    text-align: center;
    width: 55vw;
    margin-bottom: 20px;
}

.heroTexte p {
    font-size: 26px;
    color: white;
}