@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');


.retour{
  margin: 15px;
  text-decoration: none;
}
.retour a{
  text-decoration: none;
  color: #000000;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}

.div1{
  /* background-color: #02cc8f; */
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: start;
}
.div2{
  /* background-color: #02cc8f; */
  height: 10vh;
}
.div3{
  /* background-color: #02cc8f; */
  height: 25vh;
  font-family: 'Rajdhani', sans-serif;
  font-size: 45px;
}
.div4{
  /* background-color: #5a02cc; */
  height: 45vh;
}



/** 
*********************************************************************************************************************************************
********************************* Div 1 *******************************************************************************************************
*********************************************************************************************************************************************
*********************************************************************************************************************************************
**/



.timer-container {
  width: 600px;
  height: 40px;
  background-color: #ccc;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 5px 5px 0 #000000;
  border: #000000 3px solid;
  margin: 10px;
}

.timer-bar {
  width: 0; 
  height: 100%;
  background: linear-gradient(to right, #2ecc71, #1abc9c); /* Dégradé de vert émeraude */
  position: absolute;
  transition: width 1s linear;
  /* border: 1px solid #2ecc71;  */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0px 10px 10px 0px;
  }
  .timer-bar-rouge{
    background: linear-gradient(to right, #dd5959, #bc1a1a) !important; /* Dégradé de vert émeraude */
    /* border: 1px solid #dd5959 !important;  */

  }



/** 
*********************************************************************************************************************************************
********************************* Div 2 *******************************************************************************************************
*********************************************************************************************************************************************
*********************************************************************************************************************************************
**/


.ligne-score{
  font-size: 35px;
}

.p-score{
  font-size: 35px;
}
/** 
*********************************************************************************************************************************************
********************************* Div 3 *******************************************************************************************************
*********************************************************************************************************************************************
*********************************************************************************************************************************************
**/


.btn-start {
  background-color: #F2D83D;
  box-shadow: 5px 5px 0 #000000;
  border: none;
  margin: 10px;
  padding: 10px 25px;
  font-family: sans-serif;
  border: #000000 3px solid;
  border-radius: 15px; 
  cursor: pointer;
  font-family: 'Bricolage Grotesque', sans-serif !important;  
  font-size: 24px;
  color: #000000;
  text-align: center;
  }
  
  .btn-start:active {
    box-shadow: none !important;
    transform: translate(5px, 5px) !important;
  }



.classInput {
  box-shadow: 5px 5px 0 #000000;
  background-color: transparent;
  border: none;
  margin: 10px;
  border: #000000 3px solid;
  border-radius: 15px; 
  cursor: pointer;
  font-family: 'Bricolage Grotesque', sans-serif !important;  
  color: #000000;
  text-align: center;
  padding: 0px 5px;
  outline-width: 0;
  font-size: 35px !important;
  width: 200px;
  height: 50px;
  display: flex;
  }
  
  .classInput:active {
    box-shadow: none !important;
    transform: translate(5px, 5px) !important;
  }

.classCalcul{
font-size: 35px;
font-weight: bold
} 


/** 
*********************************************************************************************************************************************
********************************* Div 4 *******************************************************************************************************
*********************************************************************************************************************************************
*********************************************************************************************************************************************
**/

.ligne-resultat{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

}
.cercle-rouge{
  background-color: #ff1837;
  border-radius: 150px;
  height: 30px;
  width: 30px;
  display: inline-block;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;

}
.cercle-vert{
  background-color: #02cc8f;
  border-radius: 150px;
  height: 30px;
  width: 30px;
  display: inline-block;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** 
*********************************************************************************************************************************************
********************************* Div  *******************************************************************************************************
*********************************************************************************************************************************************
*********************************************************************************************************************************************
**/


    /* h1, input {
      font-size: 45px;
    } */
    
/* 
    .classInput:focus {
        outline-width: 0;
        box-shadow: none !important;
        transform: translate(5px, 5px) !important;
    } */


      .divindividuel{
        /* background-color: #ffffff; */
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin: 15px; */
      
      }
      
.divindividuel ul  {
    background-color: rgb(229, 255, 0);
    margin: 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 300px;
    width: 350px;
    overflow: auto;
    box-shadow: 5px 5px 0 #000000;
    border: #000000 3px solid;
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 5px; 
  }
  
  .divindividuel ul li {
    list-style: none; 
    margin: 15px;
    padding: 15px 25px;
    box-shadow: 5px 5px 0 #458cff;
    border: #458cff 3px solid;
    border-radius: 15px; 
    font-size: 24px;
    position: relative;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .affTours{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #458cff; /* Couleur de fond pour la pastille */
    height: 30px;
    width: 30px;
    color: rgb(255, 255, 255); /* Couleur du texte de la pastille */
    border-radius: 150px; /* Arrondi pour la pastille */
    transform: translate(-50%, -50%);  
    /* border: #000000 3px solid; */
    padding: 0px;
    font-size: 17px;
    font-weight: bold;
  }


  
.correcte{
    /* background-color: #02cc8f; */

    /* box-shadow: 5px 5px 0 #02cc8f !important;
    border: #02cc8f 3px solid !important;  */
  }
  
  .false{
    /* background-color: #ff1837; */

     /* box-shadow: 5px 5px 0 #ff1837 !important;
    border: #ff1837 3px solid !important;  */
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none; /* Masque les flèches dans Safari et Chrome */
      appearance: none; /* Masque les flèches dans les autres navigateurs basés sur Webkit */
      margin: 0; /* Supprime la marge par défaut */
  }

  
@media (max-width: 850px) {
    
/* .btn-start { */
    /* background-color: #02cc8f; */
    /* background-color: #F2D83D; */
    /* box-shadow: 5px 5px 0 #000000;
    border: none;
    margin: 10px;
    padding: 10px 45px;
    color: white;
    font-family: sans-serif;
    border: #000000 3px solid;
    border-radius: 5px; 
    cursor: pointer;
    font-family: 'Bricolage Grotesque', sans-serif !important;   */
    /* width: 150px;  */
    /* height: 75px;
    color: #000000;
    text-align: center;
  }
  
  .btn-start:active {
    box-shadow: none !important;
    transform: translate(5px, 5px) !important;
  }
 */

}


