nav{
    max-width: 100vw;
    width: 100vw;
    height: 100px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid black;
    background-color: white;
}

nav ul {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 5px solid black;    
    background-color: rgb(155, 80, 80); */
    height: 100%;
    width: 50%;
}
  
nav ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    height: 100%;
}

  
nav ul li a {
    text-decoration: none;
    padding: 15px;
    /* border-bottom: 5px solid black; */
    /* color: #02cc8f; */
    color: black;
    font-weight: bold;
    font-size: 24px;
  
}

  
.classInput:focus {
    outline-width: 0;
    box-shadow: none !important;
    transform: translate(5px, 5px) !important;
  }